<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,113}</string>
                <key>spriteSourceSize</key>
                <string>{512,113}</string>
                <key>textureRect</key>
                <string>{{1,515},{512,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grass6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,112}</string>
                <key>textureRect</key>
                <string>{{1,1029},{512,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{94,1570},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{94,1601},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,22}</string>
                <key>spriteSourceSize</key>
                <string>{56,22}</string>
                <key>textureRect</key>
                <string>{{15,1543},{56,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,37}</string>
                <key>spriteSourceSize</key>
                <string>{49,37}</string>
                <key>textureRect</key>
                <string>{{1,1607},{49,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{93,1543},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,12}</string>
                <key>spriteSourceSize</key>
                <string>{62,12}</string>
                <key>textureRect</key>
                <string>{{1,1543},{62,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{94,1635},{19,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{39,1543},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk arrow_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{40,1599},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures-0.png</string>
            <key>size</key>
            <string>{122,1657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c0c4fbad963af73cfc272de1108b57:8f6fa34fbd5fbf6de4691ad130080d66:d87448dec896df0cee17a90cf8da33f8$</string>
            <key>textureFileName</key>
            <string>textures-0.png</string>
        </dict>
    </dict>
</plist>
