<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hills1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4102,350},{2048,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,262}}</string>
                <key>sourceSize</key>
                <string>{2048,262}</string>
            </dict>
            <key>hills2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{2048,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,598}}</string>
                <key>sourceSize</key>
                <string>{2048,598}</string>
            </dict>
            <key>hills3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,600}}</string>
                <key>sourceSize</key>
                <string>{2048,600}</string>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{6871,2},{341,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,364}}</string>
                <key>sourceSize</key>
                <string>{341,364}</string>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{6152,2},{429,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,417}}</string>
                <key>sourceSize</key>
                <string>{429,417}</string>
            </dict>
            <key>mountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{6571,2},{298,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,482}}</string>
                <key>sourceSize</key>
                <string>{298,482}</string>
            </dict>
            <key>mountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4102,2},{2048,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,346}}</string>
                <key>sourceSize</key>
                <string>{2048,346}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{7214,2},{289,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,286}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{6152,433},{129,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,351}}</string>
                <key>sourceSize</key>
                <string>{129,351}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{6871,368},{224,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,461}}</string>
                <key>sourceSize</key>
                <string>{224,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background-2-ipadhd.png</string>
            <key>size</key>
            <string>{7502,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48d374c46bfabf92904d9cd3a61f603:c7d18670a2619e0599c7cab04d6081c9:83d94b59ea9ebd454df4ef5aef945efa$</string>
            <key>textureFileName</key>
            <string>background-2-ipadhd.png</string>
        </dict>
    </dict>
</plist>
