<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,451}</string>
                <key>spriteSourceSize</key>
                <string>{2048,451}</string>
                <key>textureRect</key>
                <string>{{1,482},{2048,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,479}</string>
                <key>spriteSourceSize</key>
                <string>{2048,479}</string>
                <key>textureRect</key>
                <string>{{1,1},{2048,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,449}</string>
                <key>spriteSourceSize</key>
                <string>{2048,449}</string>
                <key>textureRect</key>
                <string>{{1,935},{2048,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,114}</string>
                <key>textureRect</key>
                <string>{{2051,672},{100,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,83}</string>
                <key>spriteSourceSize</key>
                <string>{127,83}</string>
                <key>textureRect</key>
                <string>{{2051,587},{127,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,87}</string>
                <key>spriteSourceSize</key>
                <string>{222,87}</string>
                <key>textureRect</key>
                <string>{{2051,877},{222,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,148}</string>
                <key>spriteSourceSize</key>
                <string>{196,148}</string>
                <key>textureRect</key>
                <string>{{2051,437},{196,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{109,101}</string>
                <key>textureRect</key>
                <string>{{2051,774},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,48}</string>
                <key>spriteSourceSize</key>
                <string>{248,48}</string>
                <key>textureRect</key>
                <string>{{2180,637},{248,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{2180,587},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,216}</string>
                <key>spriteSourceSize</key>
                <string>{207,216}</string>
                <key>textureRect</key>
                <string>{{2051,1},{207,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk arrow_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,216}</string>
                <key>spriteSourceSize</key>
                <string>{207,216}</string>
                <key>textureRect</key>
                <string>{{2051,219},{207,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures-ipadhd-0.png</string>
            <key>size</key>
            <string>{2259,1385}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c0c4fbad963af73cfc272de1108b57:8f6fa34fbd5fbf6de4691ad130080d66:d87448dec896df0cee17a90cf8da33f8$</string>
            <key>textureFileName</key>
            <string>textures-ipadhd-0.png</string>
        </dict>
    </dict>
</plist>
