<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2033,208}</string>
                <key>spriteSourceSize</key>
                <string>{2033,208}</string>
                <key>textureRect</key>
                <string>{{1,270},{2033,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1988,254}</string>
                <key>spriteSourceSize</key>
                <string>{1988,254}</string>
                <key>textureRect</key>
                <string>{{1,480},{1988,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1991,261}</string>
                <key>spriteSourceSize</key>
                <string>{1991,261}</string>
                <key>textureRect</key>
                <string>{{1,736},{1991,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,114}</string>
                <key>textureRect</key>
                <string>{{680,1},{100,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,267}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1105,1},{267,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,83}</string>
                <key>spriteSourceSize</key>
                <string>{127,83}</string>
                <key>textureRect</key>
                <string>{{327,1},{127,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,87}</string>
                <key>spriteSourceSize</key>
                <string>{222,87}</string>
                <key>textureRect</key>
                <string>{{456,1},{222,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,148}</string>
                <key>spriteSourceSize</key>
                <string>{196,148}</string>
                <key>textureRect</key>
                <string>{{907,1},{196,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{109,101}</string>
                <key>textureRect</key>
                <string>{{796,1},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,48}</string>
                <key>spriteSourceSize</key>
                <string>{248,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{251,1},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures-ipadhd.png</string>
            <key>size</key>
            <string>{2035,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99ce8969bc60b33129f545afd315491c:4b288c5fa5315e95edb5d7ec67fd0872:83607639428eebd43e53f773e15847dc$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
