<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>back_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>blue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>blue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,400},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cancel_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,482},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drop_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,271},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>drop_list_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,516},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>dropdownBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{190,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,24}}</string>
                <key>sourceSize</key>
                <string>{190,24}</string>
            </dict>
            <key>dropdownMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{190,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,24}}</string>
                <key>sourceSize</key>
                <string>{190,24}</string>
            </dict>
            <key>dropdownTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{190,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,24}}</string>
                <key>sourceSize</key>
                <string>{190,24}</string>
            </dict>
            <key>green_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,49},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>green_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,96},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>grey_button06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,267}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>list_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,322},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>list_up_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,516},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>moreinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,366},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>moreinfo_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,416},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>move_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,400},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>move_arrow_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,482},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,433},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,466},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,284},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>no_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,514},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,284},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ok_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,284},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,366},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,466},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>red_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,143},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>red_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,190},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>search.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,416},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>search_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,366},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,466},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>settings_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,416},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>soundeffects_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,386},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>soundeffects_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,479},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>yellow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,194},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>yellow_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,237},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,335},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>yes_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,386},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-ipadhd-0.png</string>
            <key>size</key>
            <string>{510,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f153d27435799fc2d7f0bd084538e7f:a00b192ff9f4efc065268c272515c47e:505cbbfb0dbc4863ab000e455d2f8447$</string>
            <key>textureFileName</key>
            <string>ui-ipadhd-0.png</string>
        </dict>
    </dict>
</plist>
