<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,3468},{240,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,243}}</string>
                <key>sourceSize</key>
                <string>{240,243}</string>
            </dict>
            <key>again_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2761},{240,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,243}}</string>
                <key>sourceSize</key>
                <string>{240,243}</string>
            </dict>
            <key>alert_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2466},{124,293}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{124,293}}</string>
                <key>sourceSize</key>
                <string>{210,315}</string>
            </dict>
            <key>alert_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,3665},{204,315}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{204,315}}</string>
                <key>sourceSize</key>
                <string>{210,315}</string>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,3372},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,3496},{242,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{242,240}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1464},{999,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{999,1000}}</string>
                <key>sourceSize</key>
                <string>{999,1000}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2663},{999,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{999,1000}}</string>
                <key>sourceSize</key>
                <string>{999,1000}</string>
            </dict>
            <key>back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2466},{999,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{999,1000}}</string>
                <key>sourceSize</key>
                <string>{999,1000}</string>
            </dict>
            <key>back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2294,2006},{242,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{242,240}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1987,1460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1987,1460}}</string>
                <key>sourceSize</key>
                <string>{1987,1460}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{950,1197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,1197}}</string>
                <key>sourceSize</key>
                <string>{950,1197}</string>
            </dict>
            <key>blue_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2227,3738},{199,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,201}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>blue_empty_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2243,3496},{199,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,201}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>blue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3665},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>blue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,2},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,2144},{320,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,119}}</string>
                <key>sourceSize</key>
                <string>{320,119}</string>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,313},{333,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,100}}</string>
                <key>sourceSize</key>
                <string>{333,100}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,648},{333,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,100}}</string>
                <key>sourceSize</key>
                <string>{333,100}</string>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,983},{333,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,100}}</string>
                <key>sourceSize</key>
                <string>{333,100}</string>
            </dict>
            <key>button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,3468},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2294,1504},{249,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,247}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>cancel_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2294,1755},{249,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,247}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,1318},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>coin_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1504},{638,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,177}}</string>
                <key>sourceSize</key>
                <string>{638,177}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,3665},{242,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{242,240}</string>
            </dict>
            <key>continue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,3647},{242,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{242,240}</string>
            </dict>
            <key>events.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,3879},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>events_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,3879},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>green_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3844},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>green_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2170,2},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>grey_button06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2134,1504},{614,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,158}}</string>
                <key>sourceSize</key>
                <string>{614,158}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2444,3539},{185,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,193}}</string>
                <key>sourceSize</key>
                <string>{185,193}</string>
            </dict>
            <key>list_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,3710},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>list_up_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,3869},{157,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,144}}</string>
                <key>sourceSize</key>
                <string>{157,144}</string>
            </dict>
            <key>moreinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2129,2248},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>moreinfo_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2325,2248},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>move_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,3647},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>move_arrow_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,3738},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,2442},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,2442},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,3710},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>no_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,3909},{157,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,144}}</string>
                <key>sourceSize</key>
                <string>{157,144}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,3006},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>ok_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,3251},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2246,2638},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,2980},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>rate_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2405,2834},{129,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,115}}</string>
                <key>sourceSize</key>
                <string>{129,115}</string>
            </dict>
            <key>red_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2349,2},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>red_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,753},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>search.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,3176},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>search_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2440,2638},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>selector_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2076,2144},{264,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,51}}</string>
                <key>sourceSize</key>
                <string>{264,53}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{2443,2951},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>settings_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2443,3147},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,2},{309,112}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{309,112}}</string>
                <key>sourceSize</key>
                <string>{353,136}</string>
            </dict>
            <key>soundeffects_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2444,3343},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>soundeffects_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2428,3726},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2227,3941},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,3647},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>yellow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2170,753},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>yellow_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2349,753},{749,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,177}}</string>
                <key>sourceSize</key>
                <string>{749,177}</string>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,3909},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>yes_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,3889},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>yes_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2246,2834},{157,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,144}}</string>
                <key>sourceSize</key>
                <string>{157,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2642,4073}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1335f974cd9a2804f9ce7b0210c5c4a0:97ea3a5f904ac9fe156a1a88559cd46b:9f701a4fdec30af6d42d93fbb115b143$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
