<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clouds1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,196},{500,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,123}}</string>
                <key>sourceSize</key>
                <string>{500,123}</string>
            </dict>
            <key>clouds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,196},{501,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,103}}</string>
                <key>sourceSize</key>
                <string>{501,103}</string>
            </dict>
            <key>fence1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2898,196},{187,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,129}}</string>
                <key>sourceSize</key>
                <string>{187,129}</string>
            </dict>
            <key>fence2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,301},{137,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,148}}</string>
                <key>sourceSize</key>
                <string>{137,148}</string>
            </dict>
            <key>grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,321},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2434,301},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>grave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,321},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>grave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,321},{131,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,98}}</string>
                <key>sourceSize</key>
                <string>{131,98}</string>
            </dict>
            <key>grave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3002,2},{183,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,166}}</string>
                <key>sourceSize</key>
                <string>{183,166}</string>
            </dict>
            <key>hills1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,2},{1503,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1503,192}}</string>
                <key>sourceSize</key>
                <string>{1503,192}</string>
            </dict>
            <key>hills2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1493,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1493,436}}</string>
                <key>sourceSize</key>
                <string>{1493,436}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,321},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2149,301},{133,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,283}}</string>
                <key>sourceSize</key>
                <string>{133,283}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2502,196},{185,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,394}}</string>
                <key>sourceSize</key>
                <string>{185,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background-1-hd.png</string>
            <key>size</key>
            <string>{3170,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12c434721d91bf49862df7b37837e66:5309b263363b38ee1e519b5b9066df9b:d89cdbf986d7e9b45dccd15070c49d95$</string>
            <key>textureFileName</key>
            <string>background-1-hd.png</string>
        </dict>
    </dict>
</plist>
