<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,104}</string>
                <key>spriteSourceSize</key>
                <string>{1017,104}</string>
                <key>textureRect</key>
                <string>{{1,137},{1017,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,127}</string>
                <key>spriteSourceSize</key>
                <string>{994,127}</string>
                <key>textureRect</key>
                <string>{{1,243},{994,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,131}</string>
                <key>spriteSourceSize</key>
                <string>{996,131}</string>
                <key>textureRect</key>
                <string>{{1,372},{996,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{345,1},{50,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{561,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{166,1},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,44}</string>
                <key>spriteSourceSize</key>
                <string>{111,44}</string>
                <key>textureRect</key>
                <string>{{232,1},{111,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,74}</string>
                <key>spriteSourceSize</key>
                <string>{98,74}</string>
                <key>textureRect</key>
                <string>{{461,1},{98,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{404,1},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,24}</string>
                <key>spriteSourceSize</key>
                <string>{124,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,24}</string>
                <key>spriteSourceSize</key>
                <string>{37,24}</string>
                <key>textureRect</key>
                <string>{{127,1},{37,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures-hd.png</string>
            <key>size</key>
            <string>{1019,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99ce8969bc60b33129f545afd315491c:4b288c5fa5315e95edb5d7ec67fd0872:83607639428eebd43e53f773e15847dc$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
