<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,226}</string>
                <key>spriteSourceSize</key>
                <string>{1024,226}</string>
                <key>textureRect</key>
                <string>{{1027,1},{1024,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,240}</string>
                <key>spriteSourceSize</key>
                <string>{1024,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,225}</string>
                <key>spriteSourceSize</key>
                <string>{1024,225}</string>
                <key>textureRect</key>
                <string>{{2053,1},{1024,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{3251,107},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{3155,107},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,44}</string>
                <key>spriteSourceSize</key>
                <string>{111,44}</string>
                <key>textureRect</key>
                <string>{{3205,107},{111,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,74}</string>
                <key>spriteSourceSize</key>
                <string>{98,74}</string>
                <key>textureRect</key>
                <string>{{3079,107},{98,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{3251,166},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>part5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,24}</string>
                <key>spriteSourceSize</key>
                <string>{124,24}</string>
                <key>textureRect</key>
                <string>{{3079,207},{124,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,24}</string>
                <key>spriteSourceSize</key>
                <string>{37,24}</string>
                <key>textureRect</key>
                <string>{{3155,173},{37,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{3079,1},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk arrow_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{3189,1},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures-hd-0.png</string>
            <key>size</key>
            <string>{3303,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c0c4fbad963af73cfc272de1108b57:8f6fa34fbd5fbf6de4691ad130080d66:d87448dec896df0cee17a90cf8da33f8$</string>
            <key>textureFileName</key>
            <string>textures-hd-0.png</string>
        </dict>
    </dict>
</plist>
